* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --bg-header: #000;
  --color-header: #fff;
  --bg-btn-sair: #f00;
  --color-btn-sair: #fff;
  --bg-form: #000;
  --color-form: #fff;
  --bg-btn-form: #ffbb00;
  --bg-btn-form-hover: #cd9d19;
  --color-btn-form: #332200;
  --bg-footer: #000;
  --color-footer: #fff;
  --linear-gradient-btn: linear-gradient(
    90deg,
    rgba(11, 157, 202, 1),
    rgba(0, 183, 188, 1)
  );
  --linear-gradient-btn-hover: linear-gradient(
    180deg,
    rgba(11, 157, 202, 1),
    rgba(0, 183, 188, 1)
  );
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 0 1rem;
  background-color: var(--bg-header);
  color: var(--color-header);
  height: 5rem;
}
ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding-right: 2rem;
  font-size: 1.8rem;
  cursor: pointer;
}

a.sair {
  text-decoration: none;
  padding: 5px;
  background-color: transparent;
  border-radius: 5px;
  color: var(--color-btn-sair);
  border: 2px solid var(--color-btn-sair);
}
li:hover {
  color: var(--color-btn-sair);
}

a.sair:hover {
  background-color: var(--red-btn-sair);
  color: var(--bg-btn-sair);
  border: 2px solid var(--bg-btn-sair);

  transition: 0.5s;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 3rem;
  margin-top: 4rem;
}

form.crud {
  height: 60rem;
  width: 60rem;
  background-color: var(--bg-form);
  border-radius: 7px;
  margin-bottom: 4rem;
  display: grid;
  color: var(--color-form);
  padding: 2rem;
}

input {
  width: 100%;
  height: 3.5rem;
  margin: 5px 0;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.6rem;
}

input:focus {
  outline: none;
  box-shadow: inset 1px 1px 7px var(--color-btn-form);
}

button.btn-cadastrar {
  background-color: var(--bg-btn-form);
  color: var(--color-btn-form);
  font-size: 2.2rem;
  font-weight: bold;
  border-radius: 5px;
  height: 5rem;
  text-transform: uppercase;
  cursor: pointer;
}

button.btn-cadastrar:hover {
  background-color: var(--bg-btn-form-hover);
}

h2.carros-h2 {
  font-size: 3.3rem;
  margin: 0 125rem 0 0;
  text-shadow: 1px 1px 2px var(--color-btn-form);
}
div.carros {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8rem;
  margin-bottom: 4rem;
}
div img.card {
  width: 35rem;
  height: 28rem;
  border-radius: 5px 5px 0px 0px;
}
div.card-car {
  height: 45rem;
  border-radius: 5px;
  width: 35rem;
  background-color: var(--color-form);
  box-shadow: 1px 1px 10px var(--color-btn-form);
}

div.informacoes {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.key-info:before {
  content: "";
  display: inline-block;
  height: 5px;
  width: 1rem;
  background-color: var(--bg-btn-form);
  margin-right: 1rem;
  margin-bottom: 5px;
}
footer {
  height: 50rem;
  background-color: var(--bg-footer);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 10rem;
}

footer h2 {
  color: var(--color-footer);
}
footer h2.empresa {
  text-align: center;
}
footer p,
li {
  color: #b2b2b2;
}

div.contatos-footer ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

div.redes {
  padding-top: 2rem;
}
div.redes img {
  padding-inline: 5px;
  cursor: pointer;
}
ul.info-footer {
  display: flex;
  flex-direction: column;
}

footer p {
  text-align: center;
  font-size: 2rem;
}

a.editar-card {
  width: 150px;
  height: 35px;
  border-radius: 5px;
  background-color: rgb(0, 204, 255);
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  background-image: url(/img/edit.svg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: right;
  padding: 10px;
  &:hover {
    box-shadow: inset 1px 1px 10px #332200;
  }
}

a.excluir-card {
  width: 150px;
  height: 35px;
  border-radius: 5px;
  background-color: rgb(255, 0, 64);
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  background-image: url(/img/excluir.svg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: right;
  padding: 10px;
  &:hover {
    box-shadow: inset 1px 1px 10px #332200;
  }
}
